<div class="result-container">
    <div class="result-header clearfix">
        <div class="result-metrics">
          {{ searchInformation.formattedTotalResults }} results ({{ searchInformation.formattedSearchTime }} seconds)
        </div>
    </div>
    {{#if items}}
        {{#each items}}
            <div class="result-item">
                <div class="result-title"><a href="{{ link }}">{{ title }}</a></div>
                <div class="result-url">{{ formattedUrl }}</div>
                <div class="result-content">
                  {{#if doing_this_later }}
                    {{#if pagemap.cse_thumbnail.[0] }}
                      <img src="{{ pagemap.cse_thumbnail.0.src }}" style="max-width: 92px; height: max-height: 58px;" />
                      <div class="result-snippet" style="margin-left: 92px; padding-left: 8px;">{{ snippet }}</div>
                      <div style="clear: left;"></div>
                    {{else}}
                      <div class="result-snippet">{{ snippet }}</div>
                    {{/if}}
                  {{else}}
                    <div class="result-snippet">{{ snippet }}</div>
                  {{/if}}
                </div>
            </div>
        {{/each}}
    {{else}}
        <h2 class="result-item no-results">No results found. Try another search</h2>
    {{/if}}
</div>
